<div class="container">
  <div class="screen">
    <div class="screen__content">
      <div class="title">
        You have been logged out.
      </div>
      <button type="submit" class="button to__login" routerLink="/login">
        <span class="button__text">Back to login</span>
        <i class="button__icon fas fa-chevron-right"></i>
      </button>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
