.left-menu {
  display: block;
  width: 220px;
  height: 100%;
  background: #5D54A4;
  color: white;
}

.left-menu .menu-content {
  text-align: center;
  height: 12.5%;
  font-size: large;
  position: center;
  padding-top: 20%;
}

.left-menu .menu-content:hover {
  color: #7875B5;
  cursor: pointer;
}

.left-menu {
  float: left;
}

.logo {
  text-align: center;
  height: 12.5%;
  font-size: large;
  position: center;
  padding-top: 10%;
  cursor: default;
  border-bottom: 1px #4C43A3 solid;
}
