.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  height: 800px;
  width: 760px;
  box-shadow: 5px 5px 24px #D1D1D4;
}
.right-menu{
 float:left;
}
.right-menu{
  padding-left: 10px;
  width: 540px;
  height: 100%;
  background: white;
}
.personal-data
{
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  height: 2rem;
}
.customer-details{
  text-align: right;
  padding-right: 5rem;
  padding-top: 2rem;
}
.account-info{
  box-shadow: 5px 5px 24px #D1D1D4;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 200px;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
}
.account-info >div {
  font-size: small;
  margin-top: 1rem;
}
.styled-table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.6em;
  width: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.transactions-history{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 350px;
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  padding-top: 1rem;
}



