.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  height: 800px;
  width: 760px;
  box-shadow: 0px 0px 24px #5C5696;
}
.left-menu{
  display: block;
  width: 220px;
  height: 100%;
  background: linear-gradient(90deg, rgba(254,254,254,1) 0%, rgba(92,86,150,1) 100%);
}
.left-menu .menu-content{
  text-align: center;
  height: 14.28%;
  font-size: large;
  position: center;
  padding-top: 20%;
  border: 2px solid #5C5696;
}
.left-menu .menu-content:hover{
  background: linear-gradient(90deg, rgba(254,254,254,1) 0%, rgba(72,66,120,1) 100%);
  cursor: pointer;
}
.left-menu,
.right-menu{
 float:left;
}
.right-menu{
  padding-left: 10px;
  width: 540px;
  height: 100%;
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
}
.personal-data
{
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  height: 2rem;
}
.customer-details{
  text-align: right;
  padding-right: 5rem;
  padding-top: 2rem;
}
.account-info{
  background: #C7C5F4;
  border: 2px solid #5C5696;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 300px;
  margin-top: 4rem;
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
}
.account-info >div {
  font-size: small;
  margin-top: 2rem;
}



