<body>
<div class="wrapper">
  <div class="title">Welcome in Damian's Bank.<br>
    Please login</div>
  <div class="form">
    <div class="field">
      <input type="text" required>
      <label>Customer id</label>
    </div>
    <div class="field">
      <input type="password" required>
      <label>Password</label>
    </div>
    <div class="field">
      <input type="submit" value="Login" id="submitButton">
    </div>
    <div class="signup-link"><a href="./registerForm.html">Register now</a></div>
  </div>
</div>
</body>

