<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
  <title>Damian Bank</title>
  <meta charset="utf-8">
  <!----<title>Login Form Design | CodeLab</title>---->
</head>

<body>
<div class="wrapper">
  <div class="title">Register</div>
  <div class="form">
    <div class="field">
      <input type="text" id="firstName" required>
      <label>First name</label>
    </div>
    <div class="field">
      <input type="text" id="lastName" required>
      <label>Last name</label>
    </div>
    <div class="field">
      <input type="password" id="password" required>
      <label>Password</label>
    </div>
    <div class="field">
      <input type="password" id="passwordConfirm" required>
      <label>Confirm password</label>
    </div>

    <div class="field">
      <input type="password" id="pinNumber" required/>
      <label>Pin number</label>
    </div>
    <div class="field">
      <input type="password" id="pinNumberConfirm" required/>
      <label>Confirm pin number</label>
    </div>

    <div class="field">
      <input type="submit" value="Submit" id="submitButton">
    </div>

    <div class="back-link"><a href="../../../../index.html">Back</a></div>
  </div>
</div>

</body>

</html>
